* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0d0d0d;
    overflow-y: hidden;
}

nav {
    margin-right: 5px;
    margin: 25px auto;
    width: max-content;
    background-color: rgba(41, 41, 41, 0.525);
    border-radius: 20px;
    box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),   
    0 10px 15px rgba(0, 0, 0, 0.1), 
    0 20px 25px rgba(0, 0, 0, 0.05); 
    text-align: center;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 0.6rem 1.5rem;
}
.nav-link{
    color: white;
    transition: 0.3s;
    font-weight: lighter;
    font-family: sans-serif;
}
.nav-link:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    font-weight: bolder;

}

.background {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 94vh;
    gap: 10px;
}
.background img{
    width: 50%;
  animation: floatGlow 4s ease-in-out infinite;
  filter: drop-shadow(0 0 12px rgba(255, 0, 217, 0.4));
}
@keyframes floatGlow {
    0%, 100% {
      transform: translateY(0px);
      filter: drop-shadow(0 0 10px rgba(255, 0, 174, 0.4));
      filter: saturate(0.8);
    }
    50% {
        transform: translateY(-10px);
        filter: drop-shadow(0 0 20px rgba(255, 0, 144, 0.6));
        filter: saturate(1.5);
    }
  }
  
.text h2{
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
.GetStarted{
    background-color: rgba(41, 41, 41, 0.525);
    width: 70%;
    height: 50px;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-size: large;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}
.GetStarted:hover{
    background-color: white;
    color: black;
    font-size: larger;
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
    font-weight: bolder;
}